@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 255,255,255;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 232, 239, 227;
    --background-start-rgb: 232, 239, 227;
    --background-end-rgb: 232, 239, 227;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Estilize a barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (trilha) da barra de rolagem */
::-webkit-scrollbar-track {
  background: #ba1e1e00;
}

/* Handle (alça) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #868686;
}

/* Handle (alça) ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
